extends layout

block content
	.descr.well.well-small
	.span12
		.contents
			h3= doc.name
			.docview
				-if (doc._content)
				each topic in doc._content
					-if (topic._type == 'topic' && topic._content)
						.topic
						each genre in topic._content
							-if (genre._type == 'genre' && genre._content)
								.genre
								each item in genre._content
									-if (typeof item == 'string')
										|#{item}
									-else if (item._type == 'lex')
										span.lex(descr=JSON.stringify(item.descr))
											|#{item.name}
									-else if (item._type == 'ques')
										span.ques
											|#{item.text}
	if (doc.audio)
		.span12.audio-fake
		.span12.audio-bar
			audio(controls='controls')
				source(src='/audio/'+doc.audio)

	script#DescriptionTemplate(type='text/x-jquery-tmpl')
				|<ul style="list-style: upper-roman;">
				|	{{each(dummy, d) descr}}
				|		<li >
				|			${d.first}
				|			{{if d.lit}} (${d.lit}) {{/if}}
				|			{{if d._gramm}} - ${d._gramm} {{/if}}
				| 		{{if d.dial}} - <b>диалектное</b> {{/if}}
				|		</li>
				|	{{/each}}
				|</ul>
	
	script(src='/javascripts/docview.js')
